{% extends "base.html" %}

{% block title %}Stores list{% endblock %}

{% block content %}
<a href="{% url 'store:index' %}">Return to main page</a>
<table border="1" cellspacing="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Books</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in entries_list %}
        <tr>
            <td><a href="{% url 'store:store_detail' entry.id %}">{{ entry.name }}</a></td>
            <td>
                {% for book in entry.books.all %}
                <div>{{ book.name }}</div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}